services:
  frontend:
    build: ./frontend
    ports:
      - "80:80"
    environment:
      - VITE_API_URL=http://backend:3000
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "4000:4000"
    environment:
      - MONGODB_URI=mongodb://mongo:27017/appointy
      - JWT_SECRET=your_jwt_secret
      - STRIPE_API_KEY=your_stripe_api_key
      - RAZORPAY_KEY_ID=your_key_id
      - RAZORPAY_KEY_SECRET=your_key_secret
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    restart: always
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=appointy
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
